.h1{
  font-weight: 900;
}

.aboutus {
  box-sizing: border-box;

  position: absolute;
  width: 503px;
  height: 380fr;
  left: 39px;
  top: 549px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;

  font-size: 20px;
  text-align: justify;
}

.astrinity {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 365px;
  left: 565px;
  top: 74px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;

  font-size: 20px;
  text-align: justify;
}

.astropedia {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 274px;
  left: 565px;
  top: 462px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;

  font-size: 20px;
  text-align: justify;
}

#Astropedia-subtitle{
  font-weight: 400;
  position: relative;
  bottom: 20px;
}

.socials {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 165px;
  left: 565px;
  top: 757px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;
}

.socials i{
  font-size: 45px;
  transition: 1s;
}
.socials i:hover{
  font-size: 55px;
  font-weight: 200;
  transition: 1s;
}

.socials a{
  float: left;
  width: 25%;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.socials p{
  display: inline;
  position: relative;
  top: -10px;
}

.border1 {
  position: absolute;
  width: 470px;
  height: 85px;
  left: 34px;
  top: 69.5px;
  margin-top: 10px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.border1:hover{
  transform: scale(1.1);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.border1:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.border2 {
  position: absolute;
  width: 470px;
  height: 90px;
  left: 34px;
  top: 191.5px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.border2:hover{
  transform: scale(1.1);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.border2:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.border3 {
  position: absolute;
  width: 470px;
  height: 90px;
  left: 34px;
  top: 310.5px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.border3:hover{
  transform: scale(1.1);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.border3:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.border4 {
  position: absolute;
  width: 470px;
  height: 90px;
  left: 34px;
  top: 432.5px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.border4:hover{
  transform: scale(1.1);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.border4:hover p{
  color: black;
  transition: ease-in-out 1s;
}
