
.h1{
  font-weight: 900;
}


.TheSun {
  box-sizing: border-box;

  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 73px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.TheSun:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.TheSun:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.InnerPlanets {
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 197px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.InnerPlanets:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.InnerPlanets:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.OuterPlanets{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 324px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.OuterPlanets:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.OuterPlanets:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.Moons{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 448px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.Moons:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.Moons:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.DwarfPlanets{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 577px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.DwarfPlanets:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.DwarfPlanets:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.AstMetCom{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 701px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 1px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.AstMetCom:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.AstMetCom:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.Spacecraft{
  box-sizing: border-box;

  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 828px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.Spacecraft:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.Spacecraft:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.Solar-System2{
  box-sizing: border-box;

  position: absolute;
  width: 770px;
  height: 472px;
  left: 539px;
  top: 73px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

#Solar-System-Subtitle{
  font-weight: 400;
  position: relative;
  bottom: 20px;  
}

.astropedia2{
  box-sizing: border-box;

  position: absolute;
  width: 770px;
  height: 340px;
  left: 539px;
  top: 577px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;
  font-size: 20px;
}

#Astropedia2-Subtitle{
  font-weight: 400;
  position: relative;
  bottom: 20px;  
}

.media-box{
  box-sizing: border-box;

  position: absolute;
  width: 1275px;
  height: 750px;
  left: 34px;
  top: 970px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
