
.h1{
  font-weight: 900;
}

.OurStar {
  box-sizing: border-box;

  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 73px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.OurStar:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.OurStar:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.LifeofaStar {
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 197px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.LifeofaStar:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.LifeofaStar:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.ClassificationOfStars{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 324px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.ClassificationOfStars:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.ClassificationOfStars:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.TheBrightestStars{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 448px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.TheBrightestStars:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.TheBrightestStars:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.HallofStars{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 97px;
  left: 34px;
  top: 577px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  transition: 1s;
}

.HallofStars:hover{
  transform: scale(1.05);
  transition: 1s;
  border: 3px solid black;
  background: white;
}

.HallofStars:hover p{
  color: black;
  transition: ease-in-out 1s;
}

.Content h4{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Starlist{
  box-sizing: border-box;
  
  position: absolute;
  width: 479px;
  height: 207px;
  left: 34px;
  top: 707px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;
  font-size: 20px;
  font-weight: 200;
}

#Starlist-Subtitle{
  font-weight: 400;
  position: relative;
  bottom: 20px;  
}

.Stars2{
  box-sizing: border-box;

  position: absolute;
  width: 770px;
  height: 452px;
  left: 539px;
  top: 73px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

#Stars2-Subtitle{
  font-weight: 400;
  position: relative;
  bottom: 20px;  
}

.astropedia2{
  box-sizing: border-box;

  position: absolute;
  width: 770px;
  height: 340px;
  left: 539px;
  top: 568px;
  
  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 15px;
  font-size: 20px;
}

#Astropedia2-Subtitle{
  font-weight: 400;
  position: relative;
  bottom: 20px;  
}

