
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&display=swap');

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 140%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5
  )),url(../images/BackgroundHomepage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.navlinks {
  display: flex;
  padding: 7px 12px;
  align-items: center;
  background: black;
  margin: 0;
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
}

.navbuttons li, a {
  list-style-type: none;
  display: inline-block;
  padding: 8px;
  margin: 0;
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 18.5px;
}
 
.drpd-m1{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 200px;
}


.arrow1:focus + .drpd-m1 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow1:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow1{
  transition: transform 0.5s;
  vertical-align: text-top;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-left: -9px;
  display: inline;
  border: none;
}

.drpd-m1 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
}


.drpd-m2{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}

.arrow2:focus + .drpd-m2 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow2:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow2{
  transition: transform 0.5s;
  vertical-align: text-top;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-left: -9px;
  display:inline-block;
  border: none;
}

.drpd-m2 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 130px;
}

.drpd-m3{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}

.arrow3:focus + .drpd-m3 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow3:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow3 {
  transition: transform 0.5s;
  vertical-align: text-top;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-left: -9px;
  display:inline-block;
  border: none;
}

.drpd-m3 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 130px;
}

.drpd-m4{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}

.arrow4:focus + .drpd-m4 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow4:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow4{
  transition: transform 0.5s;
  vertical-align: text-top;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-left: -9px;
  display:inline-block;
  border: none;
}

.drpd-m4 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 130px;
}

.drpd-m5{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}

.arrow5:focus + .drpd-m5 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow5:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow5{
  transition: transform 0.5s;
  vertical-align: text-top;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-left: -9px;
  display:inline-block;
  border: none;
}

.drpd-m5 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 130px;
}

.navlinks ul li a.navbutton::after {
  content: '';
  position: relative;
  bottom: -5px;
  display: block;
  height: 1.5px;
  width: 0%;
  background: white;
  transition: 0.5s;
  margin: auto;
}

.navlinks ul li a.navbutton:hover::after {
  width: 100%;
}

.navlinks a.navbutton {
  transition: 1s;
}

.navlinks a.navbutton:hover {
  font-size: 20px;
  transition: 1s;
  font-weight: 500;
}

#Breadcrumbs {
  box-sizing: border-box;

  position: absolute;
  width: 700px;
  height: 40px;
  left: 34px;
  top: 93px;
  margin-top: 10px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}

div#Breadcrumbs ul li{
  color:black;
  position: relative;
  font-size: 15px;
  text-align: center;
  list-style-type: none;
  bottom: 18px;
  right: 10px;
  padding: 0px;
  display: inline-block;
  
}

div#Breadcrumbs li+li:before {
  padding: 8px;
  color: white;
  content: '\003E''\003E''\003E';
  position: relative;
  bottom: 1px;
}

  div#Breadcrumbs ul li a::after {
  content: '';
  position: relative;
  bottom: -1px;
  display: block;
  height: 0.5px;
  width: 0%;
  background: white;
  transition: 0.5s;
  margin: auto;
}

div#Breadcrumbs ul li a:hover::after {
  width: 100%;
}

div#Breadcrumbs a {
  transition: 1s;
}

div#Breadcrumbs a:hover {
  font-size: 20px;
  transition: 1s;
  font-weight: 500;
  color:#E1D9D1;
}

input{
  box-sizing: border-box;

  position: absolute;
  width: 500px;
  height: 35px;
  left: 800px;
  top: 97px;
  margin-top: 10px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: left;
  padding-left: 10px;

    font-size: 15px;
}


.aboutus {
  box-sizing: border-box;

  position: absolute;
  width: 503px;
  height: 385px;
  left: 39px;
  top: 602px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
}

.astrinity {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 365px;
  left: 565px;
  top: 157px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
}

.astropedia {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 244px;
  left: 565px;
  top: 540px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
}

.socials {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 185px;
  left: 565px;
  top: 802px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 10px;
}
  
.h1{
  font-weight: 900;
}

.border1 {
  position: absolute;
  width: 470px;
  height: 85px;
  left: 34px;
  top: 152.5px;
  margin-top: 10px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
}

.border2 {
  position: absolute;
  width: 470px;
  height: 90px;
  left: 34px;
  top: 264.5px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
}

.border3 {
  position: absolute;
  width: 470px;
  height: 90px;
  left: 34px;
  top: 373.5px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
}

.border4 {
  position: absolute;
  width: 470px;
  height: 90px;
  left: 34px;
  top: 485.5px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: center;
  padding: 0;
}


footer {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding:0px;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.9;
}


div.column{
  display: inline-block;
  padding: 20px 120px 0px;
  position: relative ;

}
div.column h3, p, a{
  position: relative;
  justify-content: space-evenly;
  display: inline-block;
}

#footercolumn1{
  padding-left: 240px;
}

div.column h3{
  text-align: center;
}

div.Footerlist p, ul{
  text-align: center;
}

div.Footerlist a::after {
  content: '';
  position: relative;
  left: 0px;
  bottom: -5px;
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  transition: 0.5s;
  margin: auto;
}

div.Footerlist a:hover::after {
  width: 100%;
}


div.Footerlist a, p{
  text-decoration: none;
  font-size: 13px;
  padding: 5px;
  transition: 1s;
}


div.Footerlist a:hover{
  font-size: 17.5px;
  transition: 1s;
  font-weight: bolder;
}

div.Footerlist li:hover{
  font-size: 17.5px;
  transition: 1s;
  font-weight: bolder;
}

footer a, p li{
  color: white;
  padding: 0px 0px 5px 5px;
}

