@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&display=swap');

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 200vh;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-zoom: 110%;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5
  )),url(../images/BackgroundHomepage.jpg);
  background-position: center;
  background-size: cover;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background:  black; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #111111; 
  border: 1px solid  white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e; 
}

::-webkit-scrollbar-corner{
  background: black;
}

#flexbox{
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navlinks {
  position: relative;
  display: flex;
  align-items: center;
  background: black;
  margin: 0;
  color: white;
  text-align: center;
  height: 7.5%;
  width: 100%;
}

.navlinks img{
  float: left;
  width: 25%;
}

.navbuttons{
  display: inline;
  position: relative;
  float: left;
  width: 70%;
  padding: 0px;
  margin: 0px;
}

.navbutton{
  padding: 0px;
  margin: 0px;
  position: relative;
}

.navbuttons ul{
  margin: 0px;
}

.navbuttons li{
  float: left;
}

.navbuttons li a, button{
  text-align: center;
}

#navlinks1{
  position: relative;
  width: 18%;
  float: left;
}

#navlinks2{
  position: relative;
  width: 23%;
  float: left;
}

#navlinks3{
  position: relative;
  width: 18%;
  float: left;
}

#navlinks4{
  position: relative;
  width: 23%;
  float: left;
}

#navlinks5{
  position: relative;
  width: 18%;
  float: left;
}
.navbuttons li, a {
  list-style-type: none;
  display: inline-block;
  padding: 8px;
  margin: 0;
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 18.5px;
}



.drpd-m1{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 200px;
  overflow: visible;
  margin-top: 10px;
}


.arrow1:focus + .drpd-m1 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow1:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow1{
  transition: transform 0.5s;
  background: black;
  color: white;
  font-size: 15px;
  position: relative;
  display: inline;
  border: none;
  white-space: nowrap;
}

.drpd-m1 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}


.drpd-m2{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 200px;
  margin-top: 10px;
}

.arrow2:focus + .drpd-m2 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow2:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow2{
  transition: transform 0.5s;
  background: black;
  color: white;
  font-size: 15px;
  position: relative;
  display:inline;
  border: none;
}

.drpd-m2 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}

.drpd-m3{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 225px;
  margin-top: 10px;
}

.arrow3:focus + .drpd-m3 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow3:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow3 {
  transition: transform 0.5s;
  background: black;
  color: white;
  font-size: 15px;
  position: relative;
  display:inline;
  border: none;
}

.drpd-m3 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 170px;
}

.drpd-m4{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 200px;
  margin-top: 10px;
}

.arrow4:focus + .drpd-m4 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow4:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow4{
  transition: transform 0.5s;
  background: black;
  color: white;
  font-size: 15px;
  position: relative;
  display:inline;
  border: none;
}

.drpd-m4 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}

.drpd-m5{
  position: absolute;
  background: black;
  color: white;
  z-index: 1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 15px; 
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 200px;
  margin-top: 10px;
}

.arrow5:focus + .drpd-m5 {
  opacity: 1;
  position: absolute;
  padding: 10px;
  transition: 1s;
  visibility: visible;
}

.arrow5:focus {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow5{
  transition: transform 0.5s;
  background: black;
  color: white;
  font-size: 15px;
  position: relative;
  display:inline;
  border: none;
}

.drpd-m5 p a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}

.navlinks ul li a.navbutton::after {
  content: '';
  position: relative;
  bottom: -5px;
  display: block;
  height: 1.5px;
  width: 0%;
  background: white;
  transition: 0.5s;
  margin: auto;
}

.navlinks ul li a.navbutton:hover::after {
  width: 100%;
}

.navlinks a.navbutton {
  transition: 1s;
}

.navlinks a.navbutton:hover {
  font-size: 20px;
  transition: 1s;
  font-weight: 500;
}

.Content{
  width: 100%;
  height: 72.5%;
  position: relative;
  overflow: auto;
}

 .body-links{
  font-size: 15px;
  display: inline;
}

#Breadcrumbs {
  box-sizing: border-box;

  position: absolute;
  width: 700px;
  height: 40px;
  left: 34px;
  top: 0px;
  margin-top: 10px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}

div#Breadcrumbs ul li{
  color:black;
  position: relative;
  font-size: 15px;
  text-align: center;
  list-style-type: none;
  bottom: 18px;
  right: 10px;
  padding: 0px;
  display: inline-block;
  
}

div#Breadcrumbs li+li:before {
  padding: 8px;
  color: white;
  content: '\003E''\003E''\003E';
  position: relative;
  bottom: 1px;
}

  div#Breadcrumbs ul li a::after {
  content: '';
  position: relative;
  bottom: -1px;
  display: block;
  height: 0.5px;
  width: 0%;
  background: white;
  transition: 0.5s;
  margin: auto;
}

div#Breadcrumbs ul li a:hover::after {
  width: 100%;
}

div#Breadcrumbs a {
  transition: 1s;
}

div#Breadcrumbs a:hover {
  font-size: 20px;
  transition: 1s;
  font-weight: 500;
  color:#E1D9D1;
}


input{
  box-sizing: border-box;

  position: absolute;
  width: 500px;
  height: 35px;
  left: 800px;
  top: 4px;
  margin-top: 10px;

  background: black;
  mix-blend-mode: normal;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  text-align: left;
  padding-left: 10px;

  font-size: 15px;
}

footer {
  display: block;
  position: relative;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  width: 100%;
  height: 20%;
  background-color: black;
  color: white;
  overflow: auto;
  font-size: 25px;
}


div.column{
  padding-top: 1.5%;
  float: left;
  width: 33%;
  height: 90%;
}

div.column h3{
  text-align: center;
}

div.Footerlist p, li{
  text-align: center;
}

div.FooterlistSocials p{
  text-align: center;
}

#copyright{
  clear: both;
  text-align: left;
  font-size: 15px;
  height: 10%;
}

div.Footerlist a::after {
  content: '';
  position: relative;
  left: 0px;
  bottom: -5px;
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  transition: 0.5s;
  margin: auto;
}

div.Footerlist a:hover::after {
  width: 100%;
}


div.Footerlist a, li{
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  transition: 1s;
}

div.FooterlistSocials a{
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  transition: 1s;
}

#contributors ul{
  width: 100%;
}

div.Footerlist a:hover{
  font-size: 20px;
  transition: 1s;
  font-weight: bolder;
}

div.Footerlist li:hover{
  font-size: 20px;
  transition: 1s;
  font-weight: bolder;
}
div.FooterlistSocials a:hover{
  font-size: 25px;
  transition: 1s;
  font-weight: bolder;
}

.Footerlist ul{
  transition: 1s;
  list-style-type: none;
  padding: 5px;
  position: relative;
}

footer a{
  color: white;
  padding: 0px 0px 5px 5px;
}

